<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Assets ( {{total_assets}} )</h1>
  </div>
  
  
  
  <div class="row">
    <div class="col-8">
      <div class="table-responsive ">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Asset name</th>
              <th scope="col">Asset Description</th>
              <th scope="col">Current Tag id</th>
              <th scope="col">Old Tag id</th>

            </tr>
          </thead>
          <tbody>
            {% for asset in asset_list %}
  
            <tr>
              {% for col in asset %}
                {%if col != 'user_id' %}
                 <td>{{ asset[col] }}</td>
  
                {% endif %}
              {% endfor %}
            </tr>
  
            {% endfor %}
  
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div style="col-4">
      <canvas class="my-2 w-100 h-100" id="myBaseStationsChart"></canvas>
    </div> -->
  
  </div>