<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Base Stations ( {{total_stations}} )</h1>
    {% if method == "GET" %}
  
    <form action="/basestations" method="post">
      <button class="btn btn-danger" type="submit"><i class="fa fa-pencil-square-o">EDIT</i></button>
    </form>
    {% elif method == "POST" %}
    
      <div>
        <form action="/basestations" method="GET">
          <button class="btn btn-info  data-toggle='button' aria-pressed='false' " type="submit">
            <i class="fa fa-undo">RESET</i> </button>
        </form>
    
      </div>
      <div>
      <form action="javascript:addRow('tab_basestations')">
        <button class="btn btn-primary data-toggle='button' aria-pressed='false'" type="submit">
          <i class="fa fa-plus">New</i></button>
      </form>
    </div>
    
  
    {% endif %}
  </div>
  
  
  
  <div class="row">
    <div class="col-8">
      <div class="table-responsive ">
        <table id="tab_basestations" class="table table-hover table-sm">
          <thead>
            <tr>
              {% if method == "POST" %}
              <th></th>
              <th></th>
              {% endif %}
              
              <th scope="col">Base name</th>
              <th scope="col">nick name</th>
              <th scope="col">Location </th>
            </tr>
          </thead>
          <tbody>
            {% for station in base_stations %}
  
            <tr>
              <!-- Update / Delete -->
              {% if method == "POST" %}
              <td class="ah ">
  
  
                <form
                  action="javascript:crud_basestations('PUSH',{{station['id']}},'useID_to_get_value','useID_to_get_value')"
                  method="PATCH">
                  <button class="btn btn-warning btn-sm data-toggle='button' aria-pressed='false'" type="submit">
                    <i class="fa fa-pencil-square-o"></i></button>
                </form>
              </td>
              <td>
                <!-- DELETE BUTTON -->
                <form
                  action="javascript:crud_basestations('DELETE',{{station['id']}},'useID_to_get_value','useID_to_get_value')"
                  method="delete">
                  <button class="btn btn-danger btn-sm data-toggle='button' aria-pressed='false'" type="submit">
                    <i class="fa fa-minus"></i></button>
                </form>
  
              </td>
              {% endif %}
              <!-- end add buttons -->
  
              {% for col in station %}
  
              <!-- filter columns  -->
              {% if col == "href_open_street_map" %}
              <td><a href="{{station['href_open_street_map']}}">
                  <i class="fa fa-street-view"> Street View</i></a></td>
  
              {% elif col == "id" %}
              <!-- do not display -->
              {% elif col == "gps_lat" %}
              <!-- do not display -->
              {% elif col == "gps_long" %}
              <!-- do not display -->
  
              {% else %}
              {% if method == "GET" %}
  
              <td>{{ station[col] }} </td>
  
              {% elif method == "POST" %}
  
  
              {% if col == "nickname" %}
              <td>
                {% set nickname_id = "input_text_" ~ station['id']  %}
                <form> <input id={{nickname_id}} type="text" value="{{station[col]}}"></form>
              </td>
  
              {% elif col == "sync_base_id" %}
              <td>
                {% set base_id_id = "txtbox_base_id_" ~ station['id']  %}
                <form> <input id={{base_id_id}} type="text" value="{{station[col]}}"></form>
              </td>
  
              {% else %}
              <td>{{col}} {{ station[col] }} </td>
              {% endif %}
  
              {% endif %}
  
              {% endif %}
  
              {% endfor %}
  
  
            </tr>
  
            {% endfor %}
  
          </tbody>
        </table>
      </div>
    </div>
    
  </div>