<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Base Stations ( {{total_stations}} )</h1>
</div>



<div class="row">
  <div class="col-8">
    <div class="table-responsive ">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Base name</th>
            <th scope="col">nick name</th>
          </tr>
        </thead>
        <tbody>
          {% for station in base_stations %}

          <tr>
            {% for col in station %}
              {%if col != 'user_id' %}
               <td>{{ station[col] }}</td>

              {% endif %}
            {% endfor %}
          </tr>

          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
  <div class="col-4 " >
    <div id="div_map_basestation" class="mh-100 w-100" style="width: 600px; height: 620px; " > </div>
  </div> 

</div>