<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>

<div class="table-responsive" ">
  <table class=" table table-striped table-sm">
  
  <tbody>

    <tr>
      <td><a class="nav-link" href="basestations"><i class="fa fa-laptop"></i>  Base Stations </a> </td>
      <td>Fixed / mobile </td>
      <td>{{base_stations.count}}</td>
    </tr>

    <tr>
      <td><a class="nav-link" href="tags"> <i class="fa fa-bluetooth"></i>Tags </a></td>
      <td> <i class="fa fa-bluetooth"></i>Bluetooth </td>
      <td>{{tag_count.count}}</td>
    </tr>
    
    <tr>
      <td><a class="nav-link" href="assets"> <i class="fa fa-paw"></i>Assets </a></td>
      <td> Animals / Others</td>
      <td>{{asset_count.count}}</td>
    </tr>

  </tbody>
  </table>

  <div class="d-inline p-2">
    <canvas class="my-4 w-50 h-50 d-inline p-2" id="ChartBaseStations"></canvas>
    <canvas class="my-4 w-50 h-50 d-inline p-2" id="ChartTags"></canvas>
  </div>
</div>