<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dash Board </h1>
</div>

<div class=" row ">
  <div class=" col-8 mt-2" >
    <div id="div_map_dashboard" class="mh-100 w-100" style="width: 600px; height: 620px; " > </div>
  </div>

  <div class="col-4">
    <div class="row"><div col="12"  onclick="render_doughnut_graph('rep_Chart_1', 10, 20, 'chart 1' );">
      <canvas class="my-2 w-100 h-80" id="rep_Chart_1"></canvas>
      <label class="font-italic"> Tags past 1 hour</label>
      <hr>
    </div></div>
    <div class="row"><div col="12" onclick="render_doughnut_graph('rep_Chart_2', 10, 20, 'chart 1' );">
      <canvas class="my-2 w-100 h-80" id="rep_Chart_2"></canvas>
        <label class="font-italic"> Tags past 2 hour</label>
        <hr>
    </div></div>
    <div class="row"><div col="12" onclick="render_doughnut_graph('rep_Chart_3', 10, 20, 'chart 1' );">
      <canvas class="my-2 w-100 h-80" id="rep_Chart_3"></canvas>
        <label class="font-italic"> Tags past 3 hour</label>
        <hr>
    </div></div>
  </div>
</div>
