
<style>
    .form-signin {
     width: 100%;
     max-width: 330px;
     padding: 15px;
     margin: auto;
   }
   
   .form-signin .form-floating:focus-within {
     z-index: 2;
   }
   
   .form-signin input[type="email"] {
     margin-bottom: -1px;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
   }
   
   .form-signin input[type="password"] {
     margin-bottom: 10px;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
   }   
   </style>
<div class="box">
    <h1>Log in</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            <div class="alert alert-warning w-50" role="alert">
              <h4 class="alert-heading">Oh no , something went wrong!</h4>
              <p> {{ message }} </p>
              <hr>
              <p class="mb-0"></p>
            </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

   

   
   <div class="form-signin w-80">
   
       <form href="/login" method="post">
         <div class="form-floating">
           <label for="floatingInput">Log in : Email address</label>
           <input type="email" name="email" class="form-control"  placeholder="name@example.com" required="required">
           
         </div>
         <div class="form-floating">
           <label for="floatingPassword">Password</label>
           <input type="password" name="password" class="form-control" placeholder="Password" required="required">
           
         </div>
   
         <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
         
       </form>
   </div>
   
</div>
