<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Asset Management ( {{total_assets}} )</h1>

    <form action="/rep_animal_register">
        <input type="text" placeholder="id / asset no">
        <button class="btn btn-primary data-toggle='button' aria-pressed='false'" type="submit">
            <i class="fa fa-search">Search</i></button>
    </form>
</div>





<div class="accordion" id="accordionAssets">
    {% for asset in asset_list %}

    <div class="card">

        <div class="card-header" id="heading{{asset.id}}">

            <form>
                <div class="row">
                    <div class="col-3">
                        <label>No</label>
                        <input type="text" class="form-control" value="{{asset.asset_number}}">
                    </div>
                    <div class="col-3">

                        <label>Type</label>
                        <input type="text" class="form-control" value="{{asset.asset_type}}">
                    </div>
                    <div class="col-1">

                        <label>Gender</label>
                        <input type="text" class="form-control" value="{{asset.gender}}">
                    </div>
                    <div class="col-2">
                        <label>Group</label>
                        <input type="text" class="form-control" value="{{asset.group_number}}">
                    </div>
                    <div class="col-1 ">
                        <label>Year(s)</label>
                        <span class="input-group-text">{{asset.age_year}}</span>
                    </div>
                    <div class="col-1 ">
                        <label>Month(s)</label>
                        <span class="input-group-text">{{asset.age_month}}</span>
                    </div>
                    
        </div>
        <div class="row">
            <button class="btn btn-link collapsed ml-3" type="button" data-toggle="collapse"
                data-target="#collapse{{asset.id}}" aria-expanded="false" aria-controls="collapse{{asset.id}}">
                Medical / Breeding

            </button>
        </div>
        </form>
    </div> <!-- end card head -->
    <div id="collapse{{asset.id}}" class="collapse" aria-labelledby="heading{{asset.id}}"
        data-parent="#accordionAssets">
        <div class="card-body">

            <div> <!-- Stat General -->
                
                <h6> General </h6>
                <form>
                    <div class="form-row bg-light">
                        <div class="form-group col-md-1">
                            <label for="BirthYear">Birth Year</label>
                            <input type="text" class="form-control" id="BirthYear" value="{{asset.birth_year}}">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="BirthMonth">Month</label>
                            <input type="text" class="form-control" id="BirthMonth" value="{{asset.birth_month}}">
                        </div>

                        <div class="form-group col-md-2">
                            <label for="father">Father</label>
                            <input type="text" class="form-control" id="father" value="{{asset.father_id}}">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="father_note">Note on Father</label>
                            <input type="text" class="form-control" id="farther_note" value="{{asset.father_note}}">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="mother">Mother</label>
                            <input type="text" class="form-control" id="Mother" value="{{asset.mother_id}}">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="mother_note">Note on mother</label>
                            <input type="text" class="form-control" id="morther_note" value="{{asset.mother_note}}">
                        </div>

            
            <!--- end div row-->
            </form> <!-- end General form -->

        </div> <!-- end General -->
        
        <div> <!-- Stat Div Medical -->
            <h6>  <i class="fa fa-stethoscope"></i> Medical </h6>
            <form>
                <div class="form-row">

                    <div class="table-responsive overflow-auto" style="max-height: 100px ;">

                    <table class="table table-info table-striped">
                        <thead>
                            <th>Date</th>
                            <th>Condition</th>
                            <th>Medicine</th>
                            <th>Amount</th>
                            <th>Note</th>
                        </thead>

                        {% for med_rec in asset.asset_medical %}
                        <tr>

                            <td class="">
                                <div class="form-group ">
                                    <input type="text" class="form-control" id="med_timestamp"
                                        value="{{med_rec.timestamp}}">
                                </div>
                            </td>

                            <td class="">
                                <div class="form-group ">
                                    <input type="text" class="form-control" id="med_condition"
                                        value="{{med_rec.reason}}">
                                </div>
                            </td>

                            <td class="">
                                <div class="form-group ">
                                    <input type="text" class="form-control" id="med_medicine"
                                        value="{{med_rec.medicine}}">
                                </div>
                            </td>

                            <td class="">
                                <div class="form-group ">
                                    <input type="text" class="form-control" id="med_dosage" value="{{med_rec.dosage}}">
                                </div>
                            </td>
                            <td class="">
                                <div class="form-group ">
                                    <input type="text" class="form-control" id="med_note" value="{{med_rec.note}}">
                                </div>
                            </td>

                        </tr>

                        {% endfor %}
                        <!-- end medical rec -->

                    </table>
                </div> <!-- end div table -->

        </div> <!-- end form row-->

        </form>
    </div> <!-- end div medical -->
    <div> <!-- Stat Div breeding -->
        <h6> Breeding </h6>
        <form>
            <div class="form-row">

                <div class="table-responsive overflow-auto" style="max-height: 100px ;">

                <table class="table table-warning table-striped ">
                    <thead>
                        <th>Father</th>
                        <th>Mother</th>
                        <th>Breed No</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Pregnant</th>
                    </thead>

                    {% for breeding_rec in asset.asset_breeding %}
                    <tr>
                        <td class="">
                            <div class="form-group ">
                                <input type="text" class="form-control" id="breed_father_no"
                                    value="{{breeding_rec.father_detail[0].asset_number}}">
                            </div>
                        </td>

                        <td class="">
                            <div class="form-group ">
                                <input type="text" class="form-control" id="breed_mother_no"
                                    value="{{breeding_rec.mother_detail[0].asset_number}}">
                            </div>
                        </td>

                        <td class="">
                            <div class="form-group ">
                                <input type="text" class="form-control" id="breed_no"
                                    value="{{breeding_rec.breeding_number}}">
                            </div>
                        </td>

                        <td class="">
                            <div class="form-group ">
                                <input type="text" class="form-control" id="breed_start_date"
                                    value="{{breeding_rec.start_date}}">
                            </div>
                        </td>

                        <td class="">
                            <div class="form-group ">
                                <input type="text" class="form-control" id="breed_end_date"
                                    value="{{breeding_rec.end_date}}">
                            </div>
                        </td>

                        <td class="">
                            <div class="form-group ">
                                <input type="text" class="form-control" id="pregnant"
                                    value="{{breeding_rec.pregnant}}">
                            </div>
                        </td>
                    </tr>

                    {% endfor %}
                    <!-- end medical rec -->

                </table>
            </div> <!-- end div table -->

    </div> <!-- end form row-->

    </form>
</div> <!-- end div breeding -->

<div> <!-- Stat Div offspring -->
    <h6 class=" pm-2 "> <i class="fa fa-baby"></i>Offspring </h6>
    <form>
        <div class="form-row">

            <div class="table-responsive overflow-auto" style="max-height: 100px ;">

            <table class="table table-info table-striped">
                <thead>
                    <th>Father</th>
                    <th>Mother</th>
                    <th>Offspring No</th>
                    <th>Birth Date</th>
                    <th>Gender</th>
                    
                </thead>

                {% for rec in asset.asset_offspring %}
                <tr>
                    <td class="">
                        <div class="form-group ">
                            <input type="text" class="form-control" id="breed_father_no"
                                value="{{rec.father_detail[0].asset_number}}">
                        </div>
                    </td>

                    <td class="">
                        <div class="form-group ">
                            <input type="text" class="form-control" id="breed_mother_no"
                                value="{{rec.mother_detail[0].asset_number}}">
                        </div>
                    </td>

                    <td class="">
                        <div class="form-group ">
                            <input type="text" class="form-control" id="offspring_no"
                                value="{{rec.offspring_detail[0].asset_number}}">
                        </div>
                    </td>

                    <td class="">
                        <div class="form-group ">
                            <input type="text" class="form-control" id="birth_date"
                                value="{{rec.offspring_detail[0].date_of_birth}}">
                        </div>
                    </td>

                    <td class="">
                        <div class="form-group ">
                            <input type="text" class="form-control" id="gender"
                                value="{{rec.offspring_detail[0].gender}}">
                        </div>
                    </td>
                </tr>

                {% endfor %}
                <!-- end medical rec -->

            </table>
        </div> <!-- end div table -->

</div> <!-- end form row-->

</form>
</div> <!-- end div offspring -->

</div> <!-- end card body-->
</div>
</div> <!-- end card-->
{% endfor %}


</div> <!-- end accordion -->