<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Tags not seen in the past {{hour}} hour(s) : {{total_tags}}</h1>
  <form action="/report_no_read_tag_hour" method="post">
    <label>Check hour : </label>
    <input type="text" placeholder="24" name="hours">
    <button type="submit">Ok</button>
  </form>
</div>

<div name="doughnut-bars" class="row">
  <div class="col-4">

    <canvas class="my-2 w-80 h-80" id="rep_Chart_1"></canvas>
    <label class="font-italic"> Tags past {{hour}} hour</label>
  </div>
  <div class="col-4">

    <canvas class="my-2 w-80 h-80" id="rep_Chart_2"></canvas>
    <label class="font-italic"> Tags past 1 Day</label>
  </div>
  <div class="col-4">

    <canvas class="my-2 w-80 h-80" id="rep_Chart_3"></canvas>
    <label class="font-italic"> Base Stations past 1 Day</label>
  </div>
</div>

<div class="d-flex row " style="background-color: rgba(236, 240, 206, 0.1);height: 600;">
  <!-- <div class="col-6 overflow-scroll flex-shrink-1 w-90 h-90 "> -->
    <!-- <div class="overflow-scroll flex-shrink-1 " style="background-color: rgba(0,0,255,.1)"> -->
      <table class="table table-hover table-sm col-6 overflow-scroll flex-shrink-1 w-90 h-90">
        <thead>
          <tr>
            <th scope="col">Tag Id</th>
            <th scope="col">Nickname</th>
            <th scope="col">Last Location</th>
            <th scope="col">Tag Date</th>
          </tr>
        </thead>
        <tbody>
          {% for tag in tag_list %}

          <tr>
            <td> {{ tag['id'] }} </td>
            <td> {{tag['nickname']}} </td>
            <td>

              <a href="{{tag['href_open_street_map']}}">
                <i class="fa fa-street-view"></i> Street View</a>
            </td>
            <td> {{tag['timestamp']}} </td>
          </tr>

          {% endfor %}

        </tbody>
      </table>
    <!-- </div> -->
  <!-- </div> -->
  <div class="col-6 ">
    <div id="div_map_basestation" class="mh-900 w-90" style="height: 520px; "> </div>
  </div>
</div> <!-- </div> row -->