header, footer, body  {
    font-family: Poppins;
}

header, th{
    color:white;
    background-color: #006fa9;
}

footer {
    color:white;
    background-color: #343433;
}

th {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;  /* Medium */
}

td {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;  /* regular */
}

label {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400; /* regular */
}

input {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400; /* regular */
}

button{
    background-color: #006fa9 ;
    color: #ffffff ;
    font-size: 16px;
    font-weight: 400; /* regular */
}

a {
    font-family: Poppins;
    color: black;
    font-size: 16px;
    font-weight: 500; /* semi bold */
}

a.nav-link {
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 0px;
}

li.nav-item{
    height:100% ;
}

h6 {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

/* .fixed_header tbody{
    display:block;
    overflow:auto;
    height:100px;
    width:100%;
  }

  .fixed_header thead tr{
    display:block;
  } */

  /* set table size on stand alone report */
  .asset_report {
    overflow:auto;
    height:550px;
    margin-bottom: 15px;
  }

  /* set table size on profile page report */
  #animal_profile_page .asset_report {
    overflow:auto;
    height:150px;
    margin-bottom: 10px;
  }