header, footer, body  {
    font-family: Poppins;
}

header, th{
    color:white;
    background-color: #006fa9;
}

footer {
    color:white;
    background-color: #343433;
}

th {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;  /* Medium */
}

td{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;  /* regular */
}

label {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400; /* regular */
}

input {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400; /* regular */
}

button{
    background-color: #006fa9 ;
    color: #ffffff ;
    font-size: 16px;
    font-weight: 400; /* regular */
}

a {
    font-family: Poppins;
    color: black;
    font-size: 16px;
    font-weight: 500; /* semi bold */
}

a.nav-link {
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 0px;
}

li.nav-item{
    height:100% ;
}

h6 {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.asset_report {
    max-height: 250px ;
    overflow: auto;
}