<form id="animal_medical_upd_ins" class="flex input" href="animal_medical_upd_ins" method="POST">
    <h3>Medical Details : {{animal_reg_no}} {{asset_id}}</h3>
    <div class="hidden">
        <input type="text" class="form-control" name="id"> 
        <input type="text" class="form-control" name="asset_registry_id"> 
        <input type="text" class="form-control" name="user_id">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 ">
            <label for="date">Date</label>
            <input type="date" class="form-control" name="Date">

            <label for="Medicine">Medicine</label>
            <input type="text" class="form-control" name="Medicine">

        </div> <!-- end div col-left-->

        <div class="form-group col-md-6">

            <label for="Reason">Reason</label>
            <input type="text" class="form-control" name="Reason">

            <label for="Dosage">Dosage</label>
            <input type="text" class="form-control" name="Dosage">

        </div> <!-- end div col-right -->

        <div class="row w-100">
            <div class="col-10">
                <label for="Notes">Notes</label>
                <input type="text" class="form-control" name="Notes">
            </div>
            <div class="col-10  my-3">
                <button  type="submit">Save </button>
            </div>
            <input type="text" class="form-control hidden" name="mode" 
                                    value="update">
        </div>
        </div>
    </div> <!-- end row 1 -->
</form> <!-- END Animal Medical -->