<div id="animal_profile_page" class="container mt-3 ">
    <div class="row animal_detail ">
        <h1>Animal Details </h1>
        <div class="col-12 shadow p-3 mt-2">
            {% include "asset_detail.html" %}
        </div>
    </div>

    <div class="row animal_medical shadow-row">
        <div class="col-12">
            {% include "asset_medical.html" %}
        </div>
        
    </div>

    <div class="row animal_produce shadow-row">
        <div class="col-12">
            {% include "asset_produce.html" %}
        </div>
        
    </div>

</div>