<form id="animal_breeding" class="flex input" href="animal_breeding_upd_ins" method="POST">
    <h3>Animal Breeding </h3>

    <div class="form-row">
        <div class="form-group col-md-6 ">
            <label for="Breeding_number">Breeding Number</label>
            <input type="text" class="form-control" name="Breeding_number" {% if record_display %}
                value="{{record_display.breeding_number}}" {% endif %}>

            <label for="Begin_date">Begin Date</label>
            <input type="date" class="form-control" name="Begin_date" {% if html_start_date %}
                value="{{html_start_date}}" {% endif %}>

            <label for="father_id">Father ID:</label>
            <input type="number" class="form-control" name="father_id" {% if record_display %}
                value="{{record_display.asset_registry_father_id}}" {% endif %}>

        </div> <!-- end div col-left-->

        <div class="form-group col-md-6">

            <label for="Pregnant">Pregnant</label>
            <select name="Pregnant" class="form-control">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                {% if record_display %}
                <option value="{{record_display.pregant}}">{{record_display.pregant}}</option>
                {% endif %}
            </select>

            <label for="End_date">End Date</label>
            <input type="date" class="form-control" name="End_date" {% if html_end_date %} value="{{html_end_date}}"
                {% endif %}>

            <label for="Mother_id">Mother ID</label>
            <input type="number" class="form-control" name="Mother_id" {% if record_display %}
                value="{{record_display.asset_registry_mother_id}}" {% endif %}>

        </div> <!-- end div col-right -->

        <div class="row w-100">
            <div class="col-10">
                <label for="Notes">Notes</label>
                <input type="text" class="form-control" name="Notes">
            </div>
            <div class="hidden">
                <input type="hidden" name="id">
                <input type="hidden" name="user_id">
            </div>
        </div> <!-- end row -->
        <div class="row w-100">
            <div class="col-10"></div>
            <div class="col-2  my-3">
                <button type="submit">ADD MORE </button>
            </div>
            <input type="hidden" name="mode" value="update">
        </div>
    </div>
    </div> <!-- end row 1 -->
</form> <!-- END Animal breeding Details -->