<form id="animal_details" class="shadow input p-5" href="animal_detail_upd_ins" method="POST">
    <h3>Animal Details : {{animal_reg_no}} {{asset_id}}</h3>
    <div class="form-row">

        <div class="form-group col-md-6 ">
            <label for="fname">Animal Reg No</label>
            <input type="text" class="form-control" name="animal_reg_no" required="required" {% if record_dict %}
                value="{{record_dict.animal_reg_no}}" {% endif %}>

            <label for="asset_type">Type</label>
            <select name="asset_type" class="form-control" required="required">
                {% if record_dict %}
                <option selected value="{{record_dict.asset_type}}"> {{record_dict.asset_type}} </option>
                {% endif %}
                {% for name, value in type_dropdown.items() %}
                <optgroup label="{{name}}">
                    {% for item in value %}
                    <option  value="{{item}}"> {{item}} </option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>

            <label for="gender">Gender</label>
            <select name="gender" class="form-control" required="required">
                <option value="male">male</option>
                <option value="female">female</option>
                {% if record_dict %}
                <option selected value="{{record_dict.gender}}"> {{record_dict.gender}} </option>
                {% endif %}
            </select>

            <label for="father_id">Father ID </label>
            <select name="father_id" class="form-control"  >
                {% for item in father_dict %}
                <option value="{{item.id}}"> {{item.id}}:{{item.animal_reg_no}} </option>
                {% endfor %}
                {% if record_dict %}
                   <option selected value="{{record_dict.father_id}}"> {{record_dict.father_id}} </option>
                 {% else %}
                 <option selected value="None"> None </option>
                {% endif %}
            </select>

            <label for="father_note">Father note</label>
            <input type="text" class="form-control" name="father_note"
             {% if record_dict %}
                value="{{record_dict.father_note}}" 
            {% endif %}>

        </div> <!-- end div col-left-->

        <div class="form-group col-md-6">

            <label for="group_name">Group</label>
            <select name="group_name" class="form-control" required="required">
                {% for item in group_dropdown %}
                <option selected value="{{item}}"> {{item}} </option>
                {% endfor %}
                {% if record_dict %}
                   <option selected value="{{record_dict.group_name}}"> {{record_dict.group_name}} </option>
                {% endif %}
            </select>

            <label for="date_of_birth">Date of Birth </label>
            <input type="date" class="form-control" name="date_of_birth" required="required" {% if record_dict %}
                value="{{date_of_birth}}" {% endif %}>

            <label for="asset_breeding_id">Breeding ID </label>
            <select name="asset_breeding_id" class="form-control"  >
                {% for item in breeding_dict %}
                <option value="{{item.id}}"> {{item.id}}:{{item.breeding_number}} </option>
                {% endfor %}
                {% if record_dict %}
                   <option selected value="{{record_dict.mother_id}}"> {{record_dict.asset_breeding_id}} </option>
                 {% else %}
                 <option selected value="None"> None </option>
                {% endif %}
            </select>

            <label for="mother_id">Mother ID </label>
            <select name="mother_id" class="form-control"  >
                {% for item in mother_dict %}
                <option value="{{item.id}}"> {{item.id}}:{{item.animal_reg_no}} </option>
                {% endfor %}
                {% if record_dict %}
                   <option selected value="{{record_dict.mother_id}}"> {{record_dict.mother_id}} </option>
                 {% else %}
                 <option selected value="None"> None </option>
                {% endif %}
            </select>

            <label for="mother_note">Mother note</label>
            <input type="text" class="form-control" name="mother_note" {% if record_dict %}
                value="{{record_dict.mother_note}}" {% endif %}>

        </div> <!-- end div col-right -->

        <div class="row w-100 ">
            <div class="col-10"></div>
            <div class="col-2  my-1 d-flex flex-row-reverse">
                <button type="submit">SAVE</button>

                <input type="hidden" name="id" {% if record_dict %} value="{{record_dict.id}}" {% else %} value="new"
                    {% endif %}>
                <input type="hidden" name="mode" value="update">
                <input type="hidden" name="asset_id" value="{{asset_id}}">
            </div>

        </div>
    </div> <!-- end row 1 -->
</form> <!-- END Animal Details -->