<div id="animal_profile_page" class="container mt-3" >

    <div class="row mt-3">
        <h2>Animal Details </h2>
        <div class="col-12 shadow p-3 mt-2">
            {% include "asset_detail.html" %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            {% include "asset_medical.html" %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            {% include "asset_produce.html" %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            {% include "asset_breeding.html" %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <h3>Offspring ({{dash_rec_list_count}})
            </h3>
            <div class="shadow p-5 ">
                <div>
                    {% include "asset_dashboard_tab.html" %}
                </div>
                <div class="row mt-1">
                    <div class="col-9"></div>
    
                    <div class="col-3">
                        <!-- Add new button -->
                        <form action="animal_detail_upd_ins" method="POST">
                            <input type="hidden" name="mode" value="new_rec">
    
                            <button type="submit">
                                <i class="fa fa-plus"></i> Add Offspring</button>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>

    </div>

</div>