<div class="container">
    <h1>Asset Medical ( {{med_rec_list_count}} )</h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive ">
            <table id="tab_Asset_medical" class="table table-hover table-sm shadow">
                <thead>
                    <tr>

                        {% for col in med_column_list %}
                        <th scope="col">{{col}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for rec in med_record_list %}

                    <tr>

                        {% for col in rec %}

                        <td>{{ rec[col] }} </td>

                        {% endfor %}
                        <!-- end loop COL -->
                        <!-- add 2 buttons if post request Update / Delete -->
                        <td class="ah ">

                            <!-- UPDATE button -->
                            <form action="animal_medical_upd_ins" method="POST">
                                <input type="hidden" name="mode" value="display_rec">
                                <input type="hidden" name="animal_reg_no"
                                    value="{{rec['animal_reg_no']}}">
                                <input type="hidden" name="line_id"
                                    value="{{rec['id']}}">
                                <input type="hidden" name="asset_id"
                                    value="{{rec['asset_registry_id']}}">
                                <button type="submit">
                                    <i class="fa fa-pencil-square-o"></i>Update</button>
                            </form>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <!-- DELETE BUTTON -->
                            <form action="animal_medical_upd_ins" method="POST">
                                <input type="hidden" name="mode" value="delete">
                                <input type="hidden" name="line_id" value="{{rec['id']}}">
                                <button type=" submit">
                                    <i class="fa fa-minus"></i>Delete</button>
                            </form>

                        </td>
                        <!-- END add 2 buttons -->





                    </tr>

                    {% endfor %}
                    <!-- end loop list-->


                </tbody>
            </table>
        </div>
    </div>

</div>