<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Asset Registry ( {{rec_list_count}} ) </h1>
    <h3>User Id: {{user_id}}</h3>

</div>



<div class="row">
    <div class="col-10">
        <div class="table-responsive ">
            <table id="tab_asset_registry" class="table table-hover table-sm shadow">
                <thead>
                    <tr>
                        {% for col in record_list[0] %}

                        <!-- filter columns ignore some columns -->
                        {% if col == "href_open_street_map" %}
                        <!-- do not display -->

                        {% else %}
                        <th scope="col">{{col}}</th>
                        {% endif %}

                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for rec in record_list %}

                    <tr>
                        {% for col in rec %}

                        <!-- GENERAL filter columns exclude from table -->
                        {% if col == "href_open_street_map" %}
                        <!-- Exclude from Table -->

                        {% elif col == "id" %}
                        <!-- special handle col-->
                        <!-- do not display add  class="visually-hidden"  !!! does not work-->
                        <td>{{ rec[col] }} </td>

                        {% else %}

                        <td>{{ rec[col] }} </td>

                        {% endif %}
                        <!-- end method-->

                        
                        {% endfor %}
                        <!-- end loop COL -->

                        <!-- add 2 buttons if post request Update / Delete -->
                        <td class="ah ">

                            <!-- UPDATE button -->
                            <form action="javascript:crud_asset_registry('PUT','{{rec['id']}}', {{list_of_columns}})"
                                method="PUT">
                                <button class="btn btn-warning btn-sm data-toggle='button' aria-pressed='false'"
                                    type="submit">
                                    <i class="fa fa-pencil-square-o"></i></button>
                            </form>
                        </td>
                        <td>
                            <!-- DELETE BUTTON -->
                            <form action="javascript:crud_asset_registry('DELETE','{{rec['id']}}', {{list_of_columns}})"
                                method="DELETE">
                                <button class="btn btn-danger btn-sm data-toggle=' button' aria-pressed='false'"
                                    type=" submit">
                                    <i class="fa fa-minus"></i></button>
                            </form>

                        </td>
                        <td>
                            <!-- medical BUTTON -->
                            <form action="animal_medical_upd_ins"
                                method="POST">
                                <input type="text" class="form-control hidden" name="lineid" value="{{rec['id']}}"> 
                                <input type="text" class="form-control hidden" name="animal_reg_no" value="{{rec['animal_reg_no']}}">
                                <button class="btn btn-info btn-sm data-toggle=' button' aria-pressed='false'"
                                    type=" submit">
                                    <i class="fa fa fa-medkit"></i></button>
                            </form>

                        </td>
                        <td>
                            <!-- produce BUTTON -->
                            <form action="animal_produce_upd_ins"
                                method="POST">
                                <input type="text" class="form-control hidden" name="lineid" value="{{rec['id']}}"> 
                                <input type="text" class="form-control hidden" name="animal_reg_no" value="{{rec['animal_reg_no']}}">
                                <button class="btn btn-info btn-sm data-toggle=' button' aria-pressed='false'"
                                    type=" submit">
                                    <i class="fa fa-cart-arrow-down"></i></button>
                            </form>

                        </td>
                        <!-- END add 2 buttons -->


                    </tr>

                    {% endfor %}
                    <!-- end loop list-->

                </tbody>
            </table>
        </div>
    </div>

</div>