<div class="container">
    <h2>Breeding ( {{breeding_rec_list_count}} )</h2>


    <div class="row">
        <div class="col-12 shadow p-5">
            <div class="table-responsive ">
                <table id="tab_Breeding" class="table table-hover table-sm shadow">
                    <thead>
                        <tr>

                            {% for col in breeding_col_header %}
                            {% if col == "id" %}
                            <!-- don't display -->

                            {% else %}
                            <th scope="col">{{col}}</th>

                            {% endif %}
                            {% endfor %}
                            <th scope="col"> Action</th>
                            <th scope="col"> &nbsp; </th>
                            <th scope="col"> &nbsp; </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rec in breeding_record_list %}

                        <tr>

                            {% for col in rec %}
                            {% if col == "id" %}
                            <!-- don't display -->

                            {% else %}

                            <td>{{ rec[col] }} </td>

                            {% endif %}

                            {% endfor %}
                            <!-- end loop COL -->
                            <!-- add 2 buttons if post request Update / Delete -->
                            <td class="ah ">

                                <!-- UPDATE button -->
                                <form action="animal_breeding_upd_ins" method="POST">
                                    <input type="hidden" name="mode" value="display_rec">
                                    <input type="hidden" name="line_id" value="{{rec['id']}}">
                                    <input type="hidden" name="asset_id" 
                                        {% if asset_id %}
                                            value="{{asset_id}}"
                                        {% else %}
                                            value="asset_breeding.html"
                                        {% endif %}
                                    >
                                    <button type="submit">
                                        <i class="fa fa-pencil-square-o"></i>Update</button>
                                </form>
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                <!-- DELETE BUTTON -->
                                <form action="animal_breeding_upd_ins" method="POST">
                                    <input type="hidden" name="mode" value="delete">
                                    <input type="hidden" name="line_id" value="{{rec['id']}}">
                                    <input type="hidden" name="asset_id" 
                                        {% if asset_id %}
                                            value="{{asset_id}}"
                                        {% else %}
                                            value="asset_breeding.html"
                                        {% endif %}
                                    >
                                    <button type=" submit">
                                        <i class="fa fa-minus"></i>Delete</button>
                                </form>

                            </td>
                            <!-- END add 2 buttons -->

                        </tr>

                        {% endfor %}
                        <!-- end loop list-->


                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-8"></div>

                <div class="col-4">
                    <!-- Add new button -->
                    <form action="animal_breeding_upd_ins" method="POST">
                        <input type="hidden" name="mode" value="new_rec">
                        <input type="hidden" name="asset_id" value="{{asset_id}}">

                        <button type="submit">
                            <i class="fa fa-plus"></i> Add Breeding Record</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>