<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Animal Registry ( {{rec_list_count}} ) </h2>
    <h4>User Id: {{user_id}}</h4>
</div>

<div class="row shadow p-3">
    <div class="col-12">
        <div class="table-responsive asset_report">
            <table id="tab_asset_registry" class="table table-hover table-sm shadow">
                <thead>
                    <tr>
                        {% for col in col_header %}

                        <!-- filter columns ignore some columns -->
                        {% if col == "href_open_street_map" %}
                        <!-- do not display -->
                        {% elif col == "id" %}
                        <!-- Exclude from Table-->

                        {% else %}
                        <th scope="col">{{col}}</th>
                        {% endif %}

                        {% endfor %}
                        <th scope="col"> Action</th>
                        <th scope="col"> &nbsp; </th>
                        <th scope="col"> &nbsp; </th>
                    </tr>
                </thead>
                <tbody>
                    {% for rec in record_list %}

                    <tr>
                        {% for col in rec %}

                        <!-- GENERAL filter columns exclude from table -->
                        {% if col == "href_open_street_map" %}
                        <!-- Exclude from Table -->

                        {% elif col == "id" %}
                        <!-- Exclude from Table-->

                        {% else %}

                        <td>{{ rec[col] }} </td>

                        {% endif %}
                        <!-- end method-->


                        {% endfor %}
                        <!-- end loop COL -->

                        <!-- add 4 buttons if post request Update / Delete -->
                        <td class="ah ">

                            <!-- UPDATE button -->
                            <form action="animal_profile_page" method="POST">
                                <input type="hidden" name="asset_id" 
                                    value="{{rec['id']}}">
                                <button type="submit">
                                    <i class="fa fa-pencil-square-o"> Update</i></button>
                            </form>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <!-- DELETE BUTTON -->
                            <form action="animal_detail_upd_ins"
                                method="POST">
                                <input type="hidden" name="mode" 
                                    value="delete">
                                <input type="hidden" name="lineid" 
                                    value="{{rec['id']}}">
                                <button type=" submit">
                                    <i class="fa fa-minus"></i> Delete</button>
                            </form>

                        </td>
                        <!-- END add 4 buttons -->


                    </tr>

                    {% endfor %}
                    <!-- end loop list-->

                </tbody>
            </table>
        </div>
    </div>

</div>