<div id="dashboard_id" class="container">
  <h1>Dashboard</h1>

  <div class="row" >
    {% include "asset_registry.html" %}
  </div>

  <div class="row">

    <div class="col-sm-9">
      <div id="div_map_rep_dashboard" class="mh-900 w-90" style="width: 500px; height: 520px; "> </div>
    </div> <!-- end map-->
    <div class="col-sm-9 col-lg-3">
      <div class="row mb-auto ">  
        <canvas class=" my-2 w-80 h-80" id="rep_dashboard_Chart_1"></canvas>
        <label class="font-italic text-info font-weight-bold"> Base Stations Tag reads</label>
      </div>
      <div class="row mt-auto ">
        <canvas class="my-2 w-80 h-80" id="rep_dashboard_Chart_2"></canvas>
        <label class="font-italic text-info font-weight-bold"> Base Stations Tag reads - 48 hour(s)</label>
      </div>
    </div> <!-- end  chart-->

  </div> <!-- row 2 -->


</div> <!-- new_animal_div -->