<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 >Dash Board  - Current state @ {{ timeNow }}</h1>
  </div>
  
  <div class=" row ">
    <div class=" col-8 mt-2" >
      <div id="div_map_dashboard" class="mh-100 w-100" style="width: 600px; height: 620px; " > </div>
    </div>
  
    <div class="col-4" >
      <div class="row"><div col="12" onclick="window.location.href='report_no_read_tag_hour'">
        <canvas class="my-2 w-100 h-80" id="rep_Chart_1"></canvas>
        <label class="font-italic"> Tags not read : past 1 hour</label>
        <hr>
      </div></div>
      <div class="row"><div col="12" onclick="window.location.href='report_no_read_tag_hour'">
        <canvas class="my-2 w-100 h-80" id="rep_Chart_2"></canvas>
          <label class="font-italic"> Tags not read : past 1 Day</label>
          <hr>
      </div></div>
      <div class="row"><div col="12" onclick="window.location.href='report_no_read_base_hour'">
        <canvas class="my-2 w-100 h-80" id="rep_Chart_3"></canvas>
          <label class="font-italic"> Stations with no reads : past 1 Day</label>
          <hr>
      </div></div>
    </div>
  </div>
  