<div id="dashboard_id" class="container ">

  <div class="row shadow p-1 mt-2" style="background-color:#006fa9;">
    <div class="col-sm-12 col-md-9 
                text-align-center" 
         style="font-size:24px; font-weight:600; 
                 color:white; padding:5%; ">
      To scan your tags please download our app
    </div>

    <div class="col-sm-12 col-md-3 " style="margin-top:4%; ">
      <a href=""><img src="static/images/Google_Play_180_54.png"
        style="opacity: 1;" > </img></a>
    </div>
  </div>

  <div class="row shadow p-3 mt-2 overflow-hidden" style="height:250px">
    <h2>Animal Registry</h2>
    <div class="container">
      <div class="row overflow-auto" style="height:25%;">
        <div class="col-12 " >
          {% include "asset_dashboard_tab.html" %}
        </div>
      </div>
    </div>
  </div>

  <div class="row shadow p-5 mt-2">

    <div class="col-sm-9">
      <div id="div_map_rep_dashboard" class="mh-900 w-90" style="width: 500px; height: 520px; "> </div>
    </div> <!-- end map-->
    <div class="col-sm-9 col-lg-3">
      <div class="row mb-auto ">
        <canvas class=" my-2 w-80 h-80" id="rep_dashboard_Chart_1"></canvas>
        <label class="font-italic text-info font-weight-bold"> Base Stations Tag reads</label>
      </div>
      <div class="row mt-auto ">
        <canvas class="my-2 w-80 h-80" id="rep_dashboard_Chart_2"></canvas>
        <label class="font-italic text-info font-weight-bold"> Base Stations Tag reads - 48 hour(s)</label>
      </div>
    </div> <!-- end  chart-->

  </div> <!-- row 2 -->


</div> <!-- new_animal_div -->