<div id="report_overview"
  class="flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <div class="row">

    <div class="col-8 ">
      <h2> Tracking Tables </h2>
    </div>

    <div class="col-4">
      <h5>User Id: {{user_id}}</h5>
    </div>

  </div> <!-- end row 1-->

  <h2>Base Station Current </h2> 
  <table id="tab_Base_station" 
                        class="table table-hover table-sm shadow fixed_header"
                        >
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    
                    <tbody >
                        {% for rec in base_station_current_list %}

                        <tr>
                            {% for col in rec %}
                            
                            <td>{{ rec[col] }} </td>
                            
                            {% endfor %}                            
                        </tr>
                        {% endfor %}
                        <!-- end loop list-->
                    </tbody>                
                </table>
  
  <h2>Tag Current </h2>

  <table id="tab_Tag_current" 
                class="table table-hover table-sm shadow fixed_header"
                >
            <thead>
                <tr>
                </tr>
            </thead>
            
            <tbody >
                {% for rec in tag_current_list %}

                <tr>
                    {% for col in rec %}
                    
                    <td>{{ rec[col] }} </td>
                    
                    {% endfor %}                            
                </tr>
                {% endfor %}
                <!-- end loop list-->
            </tbody>                
        </table>

  <h2>Base Sync (Main Table - Raw Received data) </h2>
  <table id="tab_Base_sync" 
        class="table table-hover table-sm shadow fixed_header"
        >
    <thead>
        <tr>
        </tr>
    </thead>
    
    <tbody >
        {% for rec in base_sync_list %}

        <tr>
            {% for col in rec %}
            
            <td>{{ rec[col] }} </td>
            
            {% endfor %}                            
        </tr>
        {% endfor %}
        <!-- end loop list-->
    </tbody>                
</table>