<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
  <div class="row ">
    <div class="column-1 col-6">
      <div class="shortname"><img src="static/images/ftsm_icon.png" alt="ftsm_icon" width="60" height="60">FTSM </div>
      <div class="fullname" >Farming Technology Solution Management</div>
    </div> <!-- end col 1-->

    <div class="column-2 col-5">
      <div> Manage all your data in one place</div>
    </div> <!-- end col 2-->

    <div class="column-3 col-1">
      <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
        onclick="javascript:toggle_class_show('sidebarMenu')">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div> <!-- end col 3-->

  </div> <!-- end row -->

</header>