<!-- <header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow"> -->
  <header class="header flex mt-auto p-3 mt-5" >
  <div class="row text-start">
    <div class="col-4 col-md-4 col-lg-2 my-1">
      <button class="navbar-toggler d-lg-none collapsed" 
      data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" 
      aria-controls="sidebarMenu" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
        onclick="javascript:toggle_class_show('sidebarMenu')"
        style="background-color: white; color: black; height: 80%;" >
        <i class="fa fa-bars"></i>
      </button>
    </div> <!-- end col 1-->

    <div class="col-8 col-md-8 col-lg-4 my-1">
      <img src="static/images/ftsm_icon.png" alt="ftsm_icon" width="220" height="120">
    </div> <!-- end col 2-->

    <div class="col-md-12 col-lg-6 mt-auto overflow-hidden">
      <h3> Manage all your data in one place </h3>
    </div> <!-- end col 3-->

    

  </div> <!-- end row -->

</header>