<!doctype html>
<html lang="en">
{% include "head.html" %}

<body onload="render_maps_charts('{{loadHtml}}', '{{loadJson}}' )">

    {% include "header.html" %}
    <div class="container-fluid">
        <div class="row">
            {% include "navi.html" %}

            <main class="col-md-12 ms-sm-auto col-lg-10 px-md-4 w-auto">

                {% if loadHtml == "home" %}
                {% include "login.html" %}

                {% elif loadHtml == "register" %}
                {% include "register.html" %}

                {% elif loadHtml == "login" %}
                {% include "login.html" %}

                {% elif loadHtml == "login_error" %}
                {% include "login_error.html" %}

                {% elif loadHtml == "error_page" %}
                {% include "error_page.html" %}

                {% elif loadHtml == "rep_animal_register" %}
                {% include "rep_animal_register.html" %}

                {% elif loadHtml == "asset_registry" %}
                {% include "asset_registry.html" %}

                {% elif loadHtml == "asset_breeding" %}
                {% include "asset_breeding.html" %}

                {% elif loadHtml == "asset_medical" %}
                {% include "asset_medical.html" %}

                {% elif loadHtml == "asset_breeding" %}
                {% include "asset_breeding.html" %}

                {% elif loadHtml == "asset_offspring" %}
                {% include "asset_offspring.html" %}

                {% elif loadHtml == "asset_produce" %}
                {% include "asset_produce.html" %}

                {% elif loadHtml == "base_station" %}
                {% include "base_station.html" %}

                {% elif loadHtml == "tag" %}
                {% include "tag.html" %}

                {% elif loadHtml == "dashboard" %}
                {% include "dashboard.html" %}

                {% elif loadHtml == "report_overview" %}
                {% include "report_overview.html" %}

                {% elif loadHtml == "report_tags" %}
                {% include "report_tags.html" %}

                {% elif loadHtml == "report_base_station" %}
                {% include "report_base_station.html" %}

               
                {% elif loadHtml == "my_profile" %}
                {% include "my_profile.html" %}

                {% elif loadHtml == "animal_profile_page" %}
                {% include "animal_profile_page.html" %}

                {% elif loadHtml == "animal_detail_upd_ins" %}
                <div class="upd_ins_container ">
                    <h1>Detail</h1>
                    {% include "animal_detail_upd_ins.html" %}
                </div>

                {% elif loadHtml == "animal_produce_upd_ins" %}
                <div class="upd_ins_container ">
                    <h1>Produce</h1>
                    {% include "animal_produce_upd_ins.html" %}
                </div>

                {% elif loadHtml == "animal_medical_upd_ins" %}
                <div class="upd_ins_container ">
                    <h1>Medical </h1>
                    {% include "animal_medical_upd_ins.html" %}
                </div>

                {% elif loadHtml == "animal_breeding_upd_ins" %}
                <div class="upd_ins_container ">
                    <h1>Breeding </h1>
                    {% include "animal_breeding_upd_ins.html" %}
                </div>

                {% endif %}

            </main>

        </div>
        <!--- end row-->
    </div> <!-- end container-->


    {% include "footer.html" %}

    <!-- Add js scripts -->
    {% include "js_scripts.html" %}
</body>



</html>