<h1>Register</h1>

<form id="register-page" class="flex" href="register" method="POST">
  <div class="form-row">
    <div id="col-left" class="form-group col-md-6 ">
      <label for="fname">First name:</label>
      <input type="text" class="form-control" id="fname" name="fname">

      <label for="phone">Contact Number:</label>
      <input type="tel" class="form-control"  
             id="phone" name="phone"
             placeholder="+27 82 999 9999" 
             pattern="+[0-9]{2} [0-9]{2} [0-9]{3} [0-9]{4}">

      <label for="farm_name">Company/Farm name</label>
      <input type="text" class="form-control" id="farm_name" name="farm_name">

      <label for="Address1">Address:</label>
      <input type="text" class="form-control" id="Address1" name="address_1">
      <input type="text" class="form-control" id="Address2" name="address_2">

      <label for="province">Province</label>
      <select name="province" class="form-control"  id="province">
        <option value="Gauteng">Gauteng</option>
        <option value="Free_State">Free State</option>
        <option value="KwaZulu-Natal">KwaZulu-Natal</option>
        <option value="Limpopo">Limpopo</option>
        <option value="Mpumalanga">Mpumalanga</option>
        <option value="Northern_Cape">Northern Cape</option>
        <option value="North_West">North West</option>
      </select>

      <label for="area">Area</label>
      <input type="text" class="form-control" id="area" name="area">

      <label for="postal_code">Postal Code</label>
      <input type="tel" class="form-control"  id="postal_code" name="postal_code" pattern="[0-9]{4}" placeholder="0002">

    </div> <!-- end div col-left-->

    <div id="col-right" class="form-group col-md-6">
      <label for="Surname">Surname:</label>
      <input type="text" class="form-control" id="Surname" name="surname">

      <label for="floatingInput">Email address</label>
      <input type="email" class="form-control"  name="email" class="form-control" placeholder="name@example.com" required="required">


      <label for="Coordinates">Coordinates (Latitude/ Longtitude of property middle point)</label>
      <input type="text" class="form-control" id="register-latitude" 
             name="gps_lat" placeholder="-25.547359 (Latitude)" 
             pattern="-[0-9]{2}.[0-9]{6}">
      <input type="text" class="form-control" id="register-longtitude" 
             name="gps_long" placeholder="28.518661 (Longtitude)"
             pattern="[0-9]{2}.[0-9]{6}">

      <label for="floatingPassword">Password</label>
      <input type="password" class="form-control"  name="password" class="form-control" placeholder="Password" required="required">


      <button class="w-25 btn btn-lg btn-primary" type="submit">Register</button>



    </div> <!-- end div col-right -->
  </div> <!-- end row 1 -->
</form>