<form id="login-page" href="reset_passwd" method="POST">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4 login-div ">
        <h2>Login</h2>
  
        <label for="floatingInput">Email</label>
        <input type="hidden" name="email" value="{{user_email}}">
        <p>{{user_email}}</p>
  
        <label for="floatingPassword">Password</label>
        <input type="password" name="new_password" class="form-control" placeholder="New Password" required="required">
        
        <button class="w-100 btn btn-lg btn-primary my-1 " type="submit">Confirm</button>
        
      <div class="col"></div>
    </div>
  
  </form>
  
  