<!doctype html>
<html lang="en">
{% include "head.html" %}

<body onload='render_maps_charts("{{loadHtml}}", {{loadJson}} )'>

    {% include "header.html" %}
    <div class="container-fluid">
        <div class="row">
            {% include "navi.html" %}

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                {% if loadHtml == "dashboard" %}
                {% include "dashboard.html" %}

                {% elif loadHtml == "base_stations" %}
                {% include "basestations.html" %}

                {% elif loadHtml == "tags" %}
                {% include "tags.html" %}

                {% elif loadHtml == "assets" %}
                {% include "assets.html" %}

                {% elif loadHtml == "report_last_at_basestation" %}
                {% include "report_last_at_basestation.html" %}

                {% elif loadHtml == "report_no_read_tag_hour" %}
                {% include "report_no_read_tag_hour.html" %}

                {% elif loadHtml == "report_no_read_base_hour" %}
                {% include "report_no_read_base_hour.html" %}

                {% endif %}

            </main>

        </div>
        <!--- end row-->
    </div> <!-- end container-->

    <!-- Add js scripts -->
    {% include "js_scripts.html" %}


</body>

</html>