<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Assets ( {{total_assets}} )  </h1>
  {% if method == "GET" %}

  <form action="/assets" method="post">
    <button class="btn btn-danger" type="submit"><i class="fa fa-pencil-square-o">EDIT</i></button>
  </form>
  {% elif method == "POST" %}

  <div>
    <form action="/assets" method="GET">
      <button class="btn btn-info  data-toggle='button' aria-pressed='false' " type="submit">
        <i class="fa fa-undo">RESET</i> </button>
    </form>

  </div>
  <div>

    <form action="javascript:addRowAssets('tab_assets')">
      <button class="btn btn-primary data-toggle='button' aria-pressed='false'" type="submit">
        <i class="fa fa-plus">NEW</i></button>
    </form>
  </div>

  {% endif %}
</div>



<div class="row">
  <div class="col-8">
    <div class="table-responsive ">
      <table id="tab_assets" class="table table-hover table-sm">
        <thead>
          <tr>
            {% if method == "POST" %}
            <th></th>
            <th></th>
            {% endif %}
            <th scope="col">Asset name</th>
            <th scope="col">Description </th>
          </tr>
        </thead>
        <tbody>
         
          {% for asset in asset_list %}

          <tr>
            <!-- Update / Delete -->
            {% if method == "POST" %}
            <td class="ah ">

              <form
                action="javascript:crud_assets('PUSH',{{asset['id']}},'useID_to_get_value','useID_to_get_value')"
                method="PATCH">
                <button class="btn btn-warning btn-sm data-toggle='button' aria-pressed='false'" type="submit">
                  <i class="fa fa-pencil-square-o"></i></button>
              </form>
            </td>
            <td>
              <!-- DELETE BUTTON -->
              <form
                action="javascript:crud_assets('DELETE',{{asset['id']}},'useID_to_get_value','useID_to_get_value')"
                method="delete">
                <button class="btn btn-danger btn-sm data-toggle='button' aria-pressed='false'" type="submit">
                  <i class="fa fa-minus"></i></button>
              </form>

            </td>
            {% endif %}
            <!-- end add buttons -->

            {% for col in asset %}

            <!-- filter columns  -->
            {% if col == "href_open_street_map" %}
            <td><a href="{{tag['href_open_street_map']}}">
                <i class="fa fa-street-view"> Street View</i></a></td>

            {% elif col == "id" %}
            <!-- do not display -->
            {% elif col == "gps_lat" %}
            <!-- do not display -->
            {% elif col == "gps_long" %}
            <!-- do not display -->

            {% else %}
            {% if method == "GET" %}

            <td> {{ asset[col] }} </td>

            {% elif method == "POST" %}


            {% if col == "asset_name" %}
            <td>
              {% set asset_id = "intxt_asset_id_" ~ asset['id']  %}
              <form> <input id={{asset_id}} type="text" value="{{asset[col]}}"></form>
            </td>

            {% elif col == "asset_description" %}
            <td>
              {% set asset_desc_id = "intxt_asset_desc_" ~ asset['id']  %}
              <form> <input id={{asset_desc_id}} type="text" value="{{asset[col]}}"></form>
            </td>

            {% else %}
            <td>{{col}} {{ asset[col] }} </td>
            {% endif %}

            {% endif %}

            {% endif %}

            {% endfor %}


          </tr>

          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

</div>