<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Base Stations with no Tag reads in the past {{hour}} hour(s) : {{total_base}} </h1>
    <form action="/report_no_read_base_hour" method="post">
      <label class="text-info font-weight-bold" >Check hour : </label>
      <input class="text-info font-weight-bold" type="text" placeholder="24" name="hours">
      <button type="submit">Ok</button>
    </form>
  </div>
  
  <div name="doughnut-bars" class="row">
    <div class="col-4">
  
        <canvas class="my-2 w-80 h-80" id="rep_Chart_3"></canvas>
        <label class="font-italic text-info font-weight-bold"> Base Stations past {{hour}} hour(s)</label>
      </div>
    <div class="col-4">
  
      <canvas class="my-2 w-80 h-80" id="rep_Chart_1"></canvas>
      <label class="font-italic"> Tags past  hour</label>
    </div>
    <div class="col-4">
  
      <canvas class="my-2 w-80 h-80" id="rep_Chart_2"></canvas>
      <label class="font-italic"> Tags past 1 Day</label>
    </div>
    
  </div>
  
  <div class="row ">
    <div class="col-8 w-90 h-90 ">
      <div class="table-responsive overflow-scroll">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Base Station Id</th>
              <th scope="col">Nickname</th>
              <th scope="col">Last Location</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for base in base_list %}
  
            <tr>
              <td> {{ base['id'] }} </td>
              <td> {{base['nickname']}} </td>
              <td> <a  href="{{base['href_open_street_map']}}"> 
                  <i class="fa fa-street-view"></i> Street View
      </div> </a> </td>
      <td> {{base['timestamp']}} </td>
      </tr>
  
      {% endfor %}
  
      </tbody>
      </table>
    </div>
  </div>
  <div class="col-4 ">
    <div id="div_map_basestation" class="mh-900 w-90" style="width: 500px; height: 520px; "> </div>
  </div>
  </div> <!-- </div> row -->